@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--bg-color:#efefef;
--bg-baseColor: #2c3e50;
}

@media (prefers-color-scheme: dark) {
  
}
body{
  background-color: var(--bg-color);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bggreen{
  background-color: #1abc9c!important ;
}
.greenColor{
  color:#1abc9c;
}
.baseColor{
  color:var(--bg-baseColor);
}

.bgBaseColor{
  background-color: var(--bg-baseColor) !important;
}